@charset "utf-8";
.openerp .my_oe_red{
 color: #ff0000;
}
.openerp .my_oe_center{
 margin-right: 40px;
}
[data-id="codigo_120"] {    width: 120px;}
[data-id="ano"]{    width: 20px;}
[data-id="cabimento_id"]{    width: 150px;}
.openerp .my_oe_r_space_50{ margin-right: 50px;}
.openerp .my_oe_r_space_20{ margin-right: 20px;}
.openerp .my_oe_total{    font-size: 18px;    float: right;}
[data-id="total_fatura"]{    width: 120px;    padding-right: 20px;
}
.openerp .my_message{
    font-size: 18px;
}